* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* LIGHT */
    --color-light: #000;
    --background-light: #fff;

    /* DARK */
    --color-dark: #000;
    --background-dark: #fff;
}

.box {
    width: 100%;
    max-width: 1440px;
}