* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    transition: .3s all;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    /* LIGHT */
    --color-light: #000;
    --background-light: #ffffff;

    /* DARK */
    --color-dark: #fff;
    --background-dark: #222222;
}

.global {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}